                        /*------------GENERAL------------*/
body{
    margin: 0;
}

h1{
    color: darkred;
    text-align: center;
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 170px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poiret One", sans-serif;
    background-color: darkred;
}

p{
    min-width: 750px;
}

.text{
    margin: auto;
    text-align: center;
    max-width: fit-content;
    font-size: 1.8rem;
    color: white;
    background-color: rgba(139, 0, 0, 0.7);
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
}

ul{
    padding: 15px;
    text-align: center;
    list-style: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    max-width: 750px;
    margin: 0 auto; 
}

h1, .topbar{
    font-family: "Spirax", sans-serif;
}

                        /*------------MENU------------*/

.menu{
    display: flex;
    align-items: center;
}

.menuleft{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 25px;
    padding-left: 60px;
    margin-right: 0;
    flex:0.4;
}

.menuright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px;
    padding-right: 60px;
    margin-left:0;
}

                        /*------------TOP BAR------------*/
.topbar{
    display: flex;
    justify-content: space-around;
}
.topbar .button{
    text-decoration: none;
    font-size: 3rem;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}


                        /*------------SECTIONS------------*/

                                /* ### HOT ### */
.hot{
    height: 100vh;
    background: url(assets/hot.jpg) no-repeat center center/cover;
    margin: 0;
    margin-bottom: 20px;
    padding:0;
}

#hottext1{
    position: relative;
    right: 150px;
    
}

#hottext2{
    position: relative;
    left: 150px;
}

                                /* ### JUICY ### */
.juicy{
    height: 100vh;
    background: url(assets/juicy.jpg) no-repeat center center/cover;
    margin: 0;
    margin-bottom: 20px;
    padding:0;
}

#juicytext1{
    position: relative;
    right: 150px;
    
}

#juicytext2{
    position: relative;
    left: 150px;
}

                                /* ### COZY ### */
.cozy{
    height: 100vh;
    background: url(assets/cosy.jpg) no-repeat center center/cover;
    margin: 0;
    padding:0;
}

#cozytext1{
    position: relative;
    right: 150px;
    
}

#cozytext2{
    position: relative;
    left: 150px;
}

.contactinfo{
    display: flex;
    align-items: center;
    
}

.contactleft{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 25px;
    margin-right: 0;
    flex:0.4;
}

.contactright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px;
    margin-left:0;
}